.todo-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.todo-main {
  padding-top: 55px;
}

.form-box {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 55px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: #fff;

  input {
    flex-grow: 1;
    height: 40px;
    margin-right: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 0 10px;
  }

  button {
    width: 60px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
}